name: Deploy Production

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Chechout the source
      uses: actions/checkout@v2
      
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pip
      run: |
        python -m pip install --upgrade pip
        
    - name: Install pulumi
      run: |
        curl -fsSL https://get.pulumi.com | sh
        echo "::add-path::/home/runner/.pulumi/bin"
        
    - name: Lint with flake8
      run: |
        pip3 install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
#     - name: Test with pytest
#       run: |
#         pip3 install -r requirements.txt
#         pip3 install pytest
#         pytest

    - uses: azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: preview the stack
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip3 install -r requirements.txt
        pulumi login
        pulumi stack select dev -c
        pulumi preview
      env:
        PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}


